<div class="row">
    <div class="col xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
    <div class="row">
        <div class="col xs-12">
            <h1>recipe name</h1>
            <img src="" alt="" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col xs-12">
        <div class="btn-group button btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></div>
        </div>
        <ul class="dropdown-menu">
            <li><a href="#">To Shopping List</a></li>
            <li><a href="#">Edit Recipe</a></li>
            <li><a href="#">Delete Recipe</a></li>
        </ul>
        
    </div>
    <div class="row">
        <div class="col xs-12">
        description
        </div>
        <div class="row">
            <div class="col xs-12">
              Ingredient
            </div>
        </div>

</div>
